// - - - - - - - - - - - - - - - 
// GENERAL
// - - - - - - - - - - - - - - -
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  background-color: $recipe-bg;
  color: $recipe-font;
  @media (max-width: $small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// Posició

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.t-0 {
  top: 0;
}

.t-5 {
  top: 5rem;
}

.t-10 {
  top: 10rem;
  @media (max-width: $medium) {
    top: 8rem;
  }
  @media (max-width: $small) {
    top: 5rem;
  }
}

.t-50 {
  top: 50rem;
}

.b-0 {
  bottom: 0;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.mx-auto {
  margin: 0 auto;
}

// Grid

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.conten-around {
  justify-content: space-around;
}

.w-200 {
  width: 200px;
}

.w-400 {
  width: 400px;
}

img {
  object-fit: cover;
}

// Tipografia
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h2 {
  font-size: 3rem;
  @media (max-width: $small) {
    font-size: 1.5rem;
  }
  
}

.text-center {
  text-align: center;
}

// Aparença
// Resta d'estils

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

// - - - - - - - - - - - - - - - 
// CAPÇALERA
// - - - - - - - - - - - - - - -

h1 {
  margin: 0;
}

.b--negative-5 {
  bottom: -5rem;
  @media (max-width: $medium) {
    bottom: -2rem;
  }
  @media (max-width: $small) {
    bottom: 0;
  }
}

.t-20 {
  top: 20rem;
  @media (max-width: $x-large) {
    top: 15rem;
  }
  @media (max-width: $large) {
    top: 10rem;
  }
  @media (max-width: $medium) {
    top: 5rem;
  }
  @media (max-width: $small) {
    top: 2rem;
  }
}

.l-1 {
  left: 1rem;
}

.l-2 {
  left: 2rem;
}

.l-80 {
  left: 80%;
}

.l-90 {
  left: 90%;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p--top-3 {
  padding-top: 3rem;
}

.p--bottom-3 {
  padding-bottom: 3rem;
}

.p--left-3 {
  padding-left: 3rem;
}

.p--right-3 {
  padding-right: 3rem;
}

.p--top-4 {
  padding-top: 4rem;
}

.p--bottom-4 {
  padding-bottom: 4rem;
}

.p--left-4 {
  padding-left: 4rem;
}

.p--right-4 {
  padding-right: 4rem;
}

.p--top-5 {
  padding-top: 5rem;
}

.p--bottom-5 {
  padding-bottom: 5rem;
}

.p--left-5 {
  padding-left: 5rem;
}

.p--right-5 {
  padding-right: 5rem;
}

.p--left-6 {
  padding-left: 6rem;
}

.p--right-6 {
  padding-right: 6rem;
}

.p--top-6 {
  padding-top: 6rem;
}

.p--bottom-6 {
  padding-bottom: 6rem;
}

.p--bottom-7 {
  padding-bottom: 7rem;
}

.p--bottom-8 {
  padding-bottom: 8rem;
}

.p--bottom-9 {
  padding-bottom: 9rem;
}

.p--bottom-10 {
  padding-bottom: 10rem;
  @media (max-width: $small) {
    padding-bottom: 2rem;
  }
}

.w-2 {
  width: 2rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
  @media (max-width: $x-large) {
    width: 4rem;
  }
  @media (max-width: $large) {
    width: 3rem;
  }
  @media (max-width: $medium) {
    width: 2.5rem;
  }
  @media (max-width: $small) {
    width: 1.5rem;
  }
}

.w-10 {
  width: 10rem;
}

.w-20 {
  width: 20rem;
  @media (max-width: $x-large) {
    width: 15rem;
  }
  @media (max-width: $large) {
    width: 10rem;
  }
  @media (max-width: $medium) {
    width: 5rem;
  }
  @media (max-width: $small) {
    width: 4rem;
  }
}

.w-30 {
  width: 30rem;
  @media (max-width: $x-large) {
    width: 20rem;
  }
  @media (max-width: $large) {
    width: 15rem;
  }
  @media (max-width: $medium) {
    width: 10rem;
  }
  @media (max-width: $small) {
    width: 5rem;
  }
}

.w-40 {
  width: 40rem;
}

// - - - - - - - - - - - - - - - 
// CONTINGUT
// - - - - - - - - - - - - - - -

.container {
  max-width: 1420px;
  @media screen and (min-width: $xx-large) {
    max-width: 1320px;
  }

  @media screen and (max-width: $x-large) {
    max-width: 1140px;
  }

  @media screen and (max-width: $large) {
    max-width: 960px;
  }

  @media screen and (max-width: $medium) {
    max-width: 720px;
  }

  @media screen and (max-width: $small) {
    max-width: 540px;
  }
}

// - - - - - - - - - - - - - - - 
// PEU DE PÀGINA
// - - - - - - - - - - - - - - -

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}