// - - - - - - - - - - - - - - - 
// GENERAL
// - - - - - - - - - - - - - - -
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $recipe-bg;
  color: $recipe-font;
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

// - - - - - - - - - - - - - - - 
// CAPÇALERA
// - - - - - - - - - - - - - - -


.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

// - - - - - - - - - - - - - - - 
// CONTINGUT
// - - - - - - - - - - - - - - -

.container {
  max-width: 1420px;
  @media (min-width: $xx-large) {
    max-width: 1320px;
  }

  @media (min-width: $x-large) {
    max-width: 1140px;
  }

  @media (min-width: $large) {
    max-width: 960px;
  }

  @media (min-width: $medium) {
    max-width: 720px;
  }

  @media (min-width: $small) {
    max-width: 540px;
  }
}

.mx-auto {
  margin: 0 auto;
} 

.text-center {
  text-align: center;
}

.banner {
  max-width: 400px;
}

.conten-around {
  justify-content: space-around;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}
.w-200 {
  width: 200px;
}

.w-400 {
  width: 400px;
}

.t-0 {
  top: 0;
}

// - - - - - - - - - - - - - - - 
// PEU DE PÀGINA
// - - - - - - - - - - - - - - -