<header class="p--top-3 p--bottom-10 p--right-6 p--left-6">
    <div class="mx-auto">
      <h1 class="p-relative">
        <img src="assets/images/anguiles-all-pebre.svg" alt="all i pebre texto">
        <img class="p-absolute b--negative-5 l-1 w-30" src="assets/images/anguiles-all-pebre.png" alt="all i pebre plat">
        <img class="p-absolute t-20 l-0 w-5" src="assets/images/olive-oil.svg" alt="oli oliva">
        <img class="p-absolute b-0 l-80" src="assets/images/paprika.svg" alt="pebre roig">
        <img class="p-absolute t-0 l-90 w-5" src="assets/images/potatoe.svg" alt="creilles">
        <img class="p-absolute t-10 w-20 l-80" src="assets/images/garlic.svg" alt="all">
      </h1>
    </div>
</header>